CONTAINER_PREFIX=esports
DEV_SECRET_KEY=some_super_secret_key
DJANGO_SETTINGS_MODULE=esports.settings.dev
PYTHONPATH=/absolute/path/to/esports/esports
DJANGO_SUPERUSER_USERNAME=yourSuperUserName
DJANGO_SUPERUSER_EMAIL=example@email.com
DJANGO_SUPERUSER_PASSWORD=yourAdminPassword
